
{% extends 'base.html' %}
{% block title %}
  Profile
{%endblock%}

<link rel="stylesheet" href="#">

{% block content %}
<div class="profile-container">
  <img src="{{ user.image.url }}" alt="User Image" class="profile-image">
  <h3 class="profile-username">Username: {{ user.username }}</h3>
  <h3 class="profile-info">First name: {{ user.first_name }}</h3>
  <h3 class="profile-info">Last name: {{ user.last_name }}</h3>
  <h3 class="profile-info">Email: {{ user.email }}</h3>
  <a href="{% url 'users:update-profile' %}">
    <button class="edit-button">Edit profile</button>
  </a>
</div>

{% endblock content %}