{% extends 'base.html' %}
{% block title %}Product Details{% endblock %}
{% block content %}
<style>
    .product-container {
        display: flex;
        align-items: flex-start;
    }
    .product-image {
        margin-right: 20px;
    }
    .product-info {
        max-width: 600px; /* adjust as necessary */
    }
    .reviews {
        margin-top: 30px;
    }
    .review-item {
        margin-bottom: 20px;
    }
    .review-button {
        margin-bottom: 10px;
    }
</style>

<div class="product-container">
    <div class="product-image">
        <img src="{{ products.image.url }}" alt="{{ products.name }}">
    </div>
    <div class="product-info">
        <p><strong>Name:</strong> {{ products.name }}</p>
        <p><strong>Description:</strong> {{ products.description }}</p>
        <p><strong>Price:</strong> {{ products.price }}</p>
    </div>
</div>

<div class="reviews">
    <h2>Reviews</h2>
    <a href="{% url 'products:add_comment' products.pk %}">
        <button class="review-button">Add comment</button>
    </a>
    <hr style="margin:10px;">
    {% for comment in comments %}
    <div class="review-item">
        <div class="review-user">Username: {{ comment.user.username }}</div>
        <div class="review-rating">Rating: {{ comment.star_given }}</div>
        <p class="review-comment">Comment: {{ comment.comment }}</p>

        {% if user.is_authenticated and comment.user == user %}
            <button>
                <a href="{% url 'products:delete_comment' comment.pk %}">Delete</a>
            </button>
            <button class="update-btn">
                <a href="{% url 'products:update_comment' comment.pk %}">Update</a>
            </button>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}
