{% extends 'base.html' %}
{% block title %}Product Details{% endblock %}
{% block content %}



<div class="product-container">
    <div class="product-image">
        <img src="{{ products.image.url }}" height="200px" alt="{{ products.name }}">
        {% if user.is_authenticated %}
            <form method="post" action="{% if products in user.favorites.all %}{% url 'products:remove_from_favorite' products.id %}{% else %}{% url 'products:add_to_favorite' products.id %}{% endif %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="favorite-icon" style="background:none;border:none;">
                    <i class="{% if products in user.favorites.all %}fas fa-heart{% else %}far fa-heart{% endif %}"></i>
                </button>
            </form>
        {% endif %}
    </div>
    <div class="product-info">
        <p><strong>Name:</strong> {{ products.name }}</p>
        <p><strong>Description:</strong> {{ products.description }}</p>
        <p><strong>Price:</strong> ${{ products.price }}</p>
        <p><strong>Rating:</strong> {{ average }}</p>
        <p><strong><a href="{% url 'products:add_order' products.pk %}">Add to Cart</a></p>
        <a href="{% url 'products:products' %}" class="button-link">Back to Products</a>

    </div>
</div>
<hr style="margin:10px;">
<div class="reviews">
    <h2>Reviews</h2>
    {% for comment in comment_detail %}
    <div class="review-item">
        <div class="review-user">Username: {{ comment.user.username }}</div>
        <div class="review-rating">Rating: {{ comment.star_given }}</div>
        <p class="review-comment">Comment: {{ comment.comment }}</p>
        <div class="review-date"> {{ comment.date }}</div>

        {% if user.is_authenticated and comment.user == user %}
        <button class="delete-btn">
            <a href="{% url 'products:delete_comment' comment.pk %}">Delete</a>
        </button>
        <button class="update-btn">
            <a href="{% url 'products:update_comment' comment.pk %}">Update</a>
        </button>
        {% endif %}
    </div>
    {% endfor %}
    <hr style="margin: 10px;" >
    <div class="form-container">
        <form method="post" action="{% url 'products:add_comment' products.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-button">Add Comment</button>
        </form>
    </div>

</div>

<hr style="margin: 10px">

<div>
    <h2>Other Products in this Category</h2>
    <div class="cards">
        {% for product in category_products %}
            <div class="card">
                <a href="{% url 'products:products_detail' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <hr>
                    <div class="product-info">
                        <p class="product-name">{{ product.name }}</p>
                        <p class="product-price">${{ product.price }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>



{% endblock %}
