{% extends 'base.html' %}
{% block title %} Products {%endblock%}
{% block content %}
<div class="cards">
    {% for product in items %}
        <div class="card">
            <a href="{% url 'products:products_detail' product.id %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <hr>
                <div class="product-info">
                    <p class="product-name">{{ product.name }}</p>
                    <p class="product-price">${{ product.price }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}