{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Categories</h1>
    <div class="categories-container">
        {% for category in categories %}
            <a href="{% url 'products:products' category.pk %}" class="category-link">{{ category.name }}</a>
        {% endfor %}
    </div>

    <h1>Mahsulotlar</h1>
    <div class="cards">
        {% for product in products %}
            <div class="card">
                <a href="{% url 'products:products_detail' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <hr>
                    <div class="product-info">
                        <p class="product-name">{{ product.name }}</p>
                        <p class="product-price">${{ product.price }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
